@model Aprendendo.Models.Cliente

<table class="table table-hover">
    <tr>
        <td>Nome</td>        
        <td>Sobrenome</td>
        <td>Idade</td>
    </tr>
    <tr>
        <th>@Model.Nome</th>
        <th>@Model.Sobrenome</th>
        <th>@Model.Idade</th>
    </tr>
</table>
